body {
    background-color: #F3EFE0; 
}

h1 {
    color: #434242
}

h3 {
    color: #434242
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 6px;
    width: 3%;
}